<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Foosball</title>

        <meta name="version" content="{{version}}">
        <meta name="viewport" content="initial-scale=1, shrink-to-fit=no, viewport-fit=cover, width=device-width, height=device-height">
        <link href="scoreboard.view.css" rel="stylesheet">

        <style>
            :root {
                --color-score: 255 255 255;
                {{#each teams}}
                --color-team-{{this.name}}: {{this.colorForWeb}};
                {{/each}}
            }

            {{#each teams}}
            .goal--{{this.name}} {
                --color-score: var(--color-team-{{this.name}});
            }
            {{/each}}

            {{#each teams}}
            .points__team--{{this.name}} {
                color: rgb({{this.colorForWeb}} / 1);
            }
            {{/each}}

            {{#each teams}}
            .goal--{{this.name}} .points__team--{{this.name}} {
                animation-name: increment;
            }
            {{/each}}
        </style>
    </head>
    <body>
        <main>
            <div class="marquee" hidden>
                <span class="marquee__letter">G</span>
                <span class="marquee__letter">o</span>
                <span class="marquee__letter">o</span>
                <span class="marquee__letter">o</span>
                <span class="marquee__letter">a</span>
                <span class="marquee__letter">a</span>
                <span class="marquee__letter">a</span>
                <span class="marquee__letter">l</span>
                <span class="marquee__letter">l</span>
                <span class="marquee__letter">l</span>
            </div>
            <div class="points">
                {{#each teams}}
                <span class="points__team points__team--{{this.name}}">{{this.points}}</span>
                {{#unless @index}}
                <span class="points__versus">&#215;</span>
                {{/unless}}
                {{/each}}
            </div>
        </main>

        <script id="serialized-team-map" type="application/json">{{{serializedTeamMap}}}</script>
        <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
        <script src="scoreboard.view.js"></script>
    </body>
</html>